{% extends 'music/base_visitor.html' %}
{% block title %}Vazimbe{% endblock %}


{% block body %}

<div class="container_1">
	<div class="container-fluid">

		<div class="row">
	
			<div class="col-sm-8 col-md-3" >
				<div class="panel panel-default" style="background-color: #444; color: #fff;" >
				<div class="panel-body">
							<p><h4>Faly miarahaba anao tonga soa eto @ pejy. <br><br> Santionany @ ireo mety ho hita ato @ pejy:<br><br>
								- blog<br>
								- chat<br>
								- musiques (type mp3)<br>
								- vidéos (type: clip, film, etc)<br>
								- tolotra sy tinady maro samihafa.
							</h4></p>
					
				</div>
	
				</div>
	
			</div>
	
		</div>
		
	</div>
</div>



<div class="grid">
 <div class="container-fluid">

	<div class="row">
  
		<div class="col-sm-8 col-md-3">
			<div class="panel panel-default" style="background-color: #333; color: cornsilk;">
			   <div class="panel-body">
                        <p><h4>Ny mpikamba tsirairay dia afaka sady manana 
							compte @blog, @chat,  afaka mampiditra mozika sy video
							ihany koa dia mahita izay efa nampidirin'ny mpikambana hafa.
						</h4></p>
				
			   </div>
  
			</div>
  
		</div>
  
	</div>
 </div>





 <div class="container-fluid">

	<div class="row">
  
		<div class="col-sm-8 col-md-3">
			<div class="panel panel-default" style="background-color: #222; color: cornsilk;">
			   <div class="panel-body">
                        <p><h4>Isika mpikamnbana tsirairay dia
							iangaviana mba ho hira na video clip na film
							malagasy ihany no ampidirina satria izay no tanjona
							sy anto-piforonan'ny pejy hatrany am-piandohana.
						</h4></p>
				
			   </div>
  
			</div>
  
		</div>
  
	</div>
 </div>
</div>



<div class="container_4">
 <div class="container-fluid">

	<div class="row">
  
		<div class="col-sm-8 col-md-3">
			<div class="panel panel-default" style="background-color: #111; color: cornsilk;">
			   <div class="panel-body">
                        <p><h4>Ny teny ampiasaina nefa dia tsy voatery ho 
							teny malagasy ihany satria iaraha-mahalala 
							fa miely eran-tany ny Malagasy ary misy ireo 
							teraka tany ivelany. Isika rahateo mifankahazo teny 
							na malagasy, frantsay, anglisy, allemand na @ fiteny 
							hafa koa ka tsy misy fepetra ny amin'izany.
						</h4></p>
				
			   </div>
  
			</div>
  
		</div>
  
	</div>
 </div>
</div>


 

{% endblock %}