asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
customtkinter==5.2.2
darkdetect==0.8.0
Django==4.2
django-background-task==0.1.8
idna==3.6
packaging==23.2
pillow==10.2.0
psycopg2==2.9.9
Python_IO==0.3
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.2.0
